.post {
  display: grid;
  grid-template-columns: 6% 94%;
  margin-bottom: 1em;
  border: 1px solid #343536;
}

.post-aside {
  padding-top: 0.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #151516;
}

.upvote-count {
  font-size: 0.8em !important;
  font-weight: 600 !important;
}

.post-section {
  display: grid;
  padding: 0.3em 0.5em;
  grid-auto-flow: row;
  grid-template-rows: 1fr auto 1fr;
  background-color: #1a1a1b;
}

.post-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

.header-community {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2em;
}

.header-community > .community {
  font-weight: 700;
  font-size: 0.75em;
}

.header-rest {
  font-size: 0.75em !important;
}

.post-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  margin: 0.5em 0;
}

.post-main-title {
  padding-bottom: 0.8em;
  font-weight: 500 !important;
  font-size: 1.1em !important;
}

.post-main-description {
  font-size: 0.9em !important;
}

.post-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2em;
}

.comment-icon {
  color: #818384;
}

.comment-info {
  color: #818384;
  font-weight: 500 !important;
  font-size: 0.9em !important;
}/*# sourceMappingURL=post.module.css.map */