// default absolute path that I set up in the tsconfig file doesn't affect scss
@use "../../../../scss/abstracts/colors" as *;
@use "../../../../scss/abstracts/mixins" as *;

.home-wrapper {
  @include grid-layout;
  max-width: 960px;
  grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 976px) {
  .home-wrapper {
    @include grid-layout-responsive;
  }
  // select last child of .create-post-wrapper
  // place last child (our aside element) first
  .home-wrapper > *:last-child {
    order: -1;
  }
}
