@use "../../../scss/abstracts/colors" as *;

.home_aside-wrapper {
  border: 1px solid $reddit-border;
}

.background {
  height: 2.125em;
  background-image: url("https://res.cloudinary.com/instagram-clone-web-app/image/upload/v1675505745/home-banner_2x_ybbuom.webp");
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  padding-left: 0.8em;
}

.avatar {
  height: 2.125em;
  background-image: url("https://res.cloudinary.com/instagram-clone-web-app/image/upload/c_scale,w_80/v1675505745/snoo-home_2x_ojjww9.webp");
  background-size: 40px 68px;
  height: 68px;
  width: 40px;
  translate: 0 -1em;
}

.border-seperate {
  width: 100%;
  margin: 0 auto;
  margin-top: 0.8em;
  margin-bottom: 0.7em;
  border: 1px solid $reddit-border;
}

.home-aside-main {
  margin: 0 1em;
  padding-bottom: 1em;
}

.p-welcome {
  font-size: 0.9em;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
