@use "../../../scss/abstracts/colors" as *;
@use "../../../scss/abstracts/variables" as *;
@use "../../../scss/abstracts/mixins" as *;

.home_aside-wrapper {
  border: 1px solid $reddit-border;
}

.background {
  height: 2.125em;
  @include backgroun-image-position("https://res.cloudinary.com/instagram-clone-web-app/image/upload/v1675505745/home-banner_2x_ybbuom.webp");
}

.header {
  @include aside-header;
}

.border-seperate {
  @include border-seperate;
}

.home-aside-main {
  margin: 0 1em;
  padding-bottom: 1em;
}

.p-welcome {
  font-size: 0.9em;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
