@use "../../../scss/abstracts/colors" as *;
@use "../../../scss/abstracts/mixins" as *;

.create-community-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.create-community-header {
  color: $pale-text-header;
}

.border {
  border-bottom: 1px solid $reddit-border;
  margin: 0.8em 0;
}

.bottom {
  margin: 0.8em auto;
}

.create-community {
  background-color: $post-background;
}

.inner-create-community {
  margin: 0.8em 1em;
}

// select all direct children of .inner-create-community, except the last one
.inner-create-community > :not(:last-child) {
  margin-bottom: 0.8em;
}

.formatted-markdown {
  border: 1px solid $reddit-border;
  background-color: darken($post-background, 2%);
}

.community-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}

.community-button button {
  @include small-button;
}

.select {
  width: 40%;
  margin-bottom: 0.5em;
}
