@use "../../../../scss/abstracts/colors" as *;
@use "../../../../scss/abstracts/mixins" as *;
@use "../../../../scss/abstracts/variables" as *;

.reddit-text {
  margin-left: 0.3em;
  // height: 1.2rem;
  height: 18px !important;
}

@media (max-width: 980px) {
  .reddit-text {
    display: none;
  }
}
