$text: #ffffff;
$page-background: #121212;
$component-background: #1e1e1e;

$primary-orange: #ff9800;
$secondary-blue: #2196f3;

$upvote: #818384;

$reddit-border: #343536;
$post-border-hover: #818384;

$aside-background: #151516;
$post-background: #1a1a1b;

$r-slash: #0079d3;
$pale-text: #818384;
$pale-text-header: #d7dadc;

$button-light: #d7dadc;
$button-dark: #1a1a1b;

// react quill styles
$header-background: #272729;
$label-background: #1a1a1b;

// lazy load
$lazy-bg: #575757;
$lazy-bg-gradient: #9d9d9d7a;

$error-text: #f44336;