@use "./colors" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-layout {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 1.8em;
  margin-top: 1.6em;
}
@mixin grid-layout-responsive {
  width: 95%;
  grid-template-columns: 1fr;
}

@mixin backgroun-image-position($url) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin wrapper-grid {
  max-width: 960px;
  grid-template-columns: 2fr 1fr;
}

@mixin aside-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  padding-left: 0.8em;
}

@mixin border-seperate {
  width: 100%;
  margin: 0 auto;
  margin-top: 0.8em;
  margin-bottom: 0.7em;
  border: 1px solid $reddit-border;
}
