// margin between form fields
$from-margin-top: 1em;

// home and create post page responsivness
$breakpoint-home: 1010px;
$breakpoint-post-page: 1010px;
$breakpoint-view-post-page: 1100px;
$breakpoint-create: 1170px;
