@use "../../../../scss/abstracts/colors" as *;
@use "../../../../scss/abstracts/mixins" as *;

.create-post-page-wrapper {
  @include grid-layout;
  max-width: 1100px;
  grid-template-columns: 5fr 2.1fr;
}

@media screen and (max-width: 1110px) {
  .create-post-wrapper {
    @include grid-layout-responsive;
  }
  // select last child of .create-post-wrapper
  // place last child (our aside element) first
  .create-post-wrapper > *:last-child {
    order: -1;
  }
}
