@use "../../../../scss/abstracts/colors" as *;
@use "../../../../scss/abstracts/mixins" as *;
@use "../../../../scss/abstracts/variables" as *;

.reddit-logo {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
