@use "../../../scss/abstracts/colors" as *;
@use "../../../scss/abstracts/variables" as *;
@use "../../../scss/abstracts/mixins" as *;

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

.error-wrapper {
  padding: 0.6em;
  border-radius: 3px 3px 3px 3px;
  color: #d8000c;
  background-color: #ffbaba;
  font-size: 1.2em;
  & > span {
    margin-left: 0.2em;
  }
}

.error-wrapper--margin-top {
  margin-top: 0.6em;
}
