@use "../../../scss/abstracts/colors" as *;
@use "../../../scss/abstracts/mixins" as *;
@use "../../../scss/abstracts/variables" as *;

.form {
  display: flex;
  flex-direction: column;
}

// selct all mui text fields
.form .MuiInputBase-root {
  background-color: red !important;
}
.form button {
 
}


