.home-post-main {
  --scrollbar-width: 0px;
  --mask-height: 100px;
  max-height: 300px;
  --mask-image-content: linear-gradient(to bottom, black, black var(--mask-height), black calc(100% - var(--mask-height)), transparent);
  --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
  --mask-image-scrollbar: linear-gradient(black, black);
  --mask-size-scrollbar: var(--scrollbar-width) 100%;
  -webkit-mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
          mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  -webkit-mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
          mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
  -webkit-mask-position: 0 0, 100% 0;
          mask-position: 0 0, 100% 0;
  -webkit-mask-repeat: no-repeat, no-repeat;
          mask-repeat: no-repeat, no-repeat;
}

.post-section {
  display: grid;
  padding: 0.3em 0.5em;
  grid-auto-flow: row;
  grid-template-rows: 1fr auto 1fr;
  background-color: #1a1a1b;
}

.post-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

.header-community {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2em;
}

.header-community > .community {
  font-weight: 700;
  font-size: 0.75em;
}

.by-user {
  font-size: 0.75em !important;
  color: #d7dadc;
}

.post-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  margin: 0.5em 0;
}

.post-main-title {
  padding-bottom: 0.8em;
  font-weight: 500 !important;
  font-size: 1.1em !important;
}

.post-main-description {
  font-size: 0.9em !important;
}

.post-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2em;
  margin-top: 0.6em;
}

.comment-icon {
  color: #d7dadc;
}

.comment-info {
  color: #d7dadc;
  font-weight: 500 !important;
  font-size: 0.9em !important;
}/*# sourceMappingURL=post-section.module.css.map */