@use "../../../scss/abstracts/colors" as *;
@use "../../../scss/abstracts/mixins" as *;
@use "../../../scss/abstracts/variables" as *;

.logo {
  height: 100%;
}

.select {
  width: 100%;
  margin-left: 1em !important;
}

@media (max-width: 600px) {
  .select {
    width: 45%;
  }
}

.nav-main {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 600px) {
  .nav-main {
    grid-template-columns: 1fr 4fr;
  }
}
@media (max-width: 520px) {
  .nav-main {
    grid-template-columns: 1fr 3fr;
  }
}
@media (max-width: 450px) {
  .nav-main {
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 380px) {
  .nav-main {
    grid-template-columns: 2fr 3fr;
  }
}
