@use "../../../scss/abstracts/colors" as *;
@use "../../../scss/abstracts/mixins" as *;
@use "../../../scss/abstracts/variables" as *;

.post {
  display: grid;
  grid-template-columns: 6% 94%;
  margin-bottom: 1em;
  border: 1px solid $reddit-border;
}


.post-aside {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $post-background;
}

.upvote-count {
  font-size: 0.8em !important;
  font-weight: 600 !important;
}

.post-section {
  display: grid;
  padding: 0.3em 0.5em;
  grid-auto-flow: row;
  grid-template-rows: 1fr auto 1fr;
  background-color: $post-background;
}

.post-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.header-community {
  @include flex-center;
  gap: 0.2em;
}

.header-community > .community {
  font-weight: 700;
  font-size: 0.75em;
}

.by-user {
  // we need !important to override the inline font-size of mui
  font-size: 0.75em !important;
  color: $pale-text;
}

.post-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 0;
  margin: 0.5em 0;
}
.post-main-title {
  padding-bottom: 0.8em;
  // we need !important to override mui
  font-weight: 500 !important;
  font-size: 1.1em !important;
}
.post-main-description {
  font-size: 0.9em !important;
}

.post-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2em;
}

.comment-icon {
  color: $pale-text;
}
.comment-info {
  color: $pale-text;
  font-weight: 500 !important;
  font-size: 0.9em !important;
}
