@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

// selecting a class set by mui from a module is impossible since modules add a unique part to the class names when setting/selecting them
.auth-form .MuiTextField-root {
  margin-top: $from-margin-top !important;
  // width: 300px;
}

.auth-form .MuiButton-root {
  margin-top: $from-margin-top !important;
}

.nav-search input {
  // make input inside the search element in the navbar take up the entire width of the element
  width: 100% !important;
}
