@use "../../../../scss/abstracts/colors" as *;
@use "../../../../scss/abstracts/mixins" as *;
@use "../../../../scss/abstracts/variables" as *;

.button {
  margin: $from-margin-top 0 !important;
}

.button-light {
  color: $button-dark !important;
  background-color: $button-light !important;
  border: 1px solid $button-light !important;
  height: 2em !important;
  border-radius: 1.8em !important;
  // unset all transitions (default from mui)
  transition: none !important;
  // disable to uppercase
  text-transform: none !important;
}

.button-light:hover {
  background-color: darken($button-light, 10%) !important;
}

.button-dark {
  color: $button-light !important;
  background-color: $button-dark !important;
  border: 1px solid $button-light !important;
  height: 2em !important;
  border-radius: 1.8em !important;
  transition: none !important;
  text-transform: none !important;
}

.button-dark:hover {
  background-color: lighten($button-dark, 10%) !important;
}
